# Node
node_modules/

# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Logs
logs/
*.log

# Build
dist/
build/

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db